STARKNET_KEYSTORE=
STARKNET_ACCOUNT=
AVNU_PAYMASTER_API_KEY=
AVNU_PAYMASTER_API_KEY=
STANDALONE_INDEXER_RPC_URL=
GOOGLE_PLAY_INTEGRITY_PROJECT_NUMBER=
GOOGLE_PLAY_INTEGRITY_PACKAGE_NAME=
GOOGLE_CLOUD_SERVICE_ACCOUNT_JSON=
APPLE_TEAM_ID=
